wpk8s.epub
wpk8s.html
wpk8s.pdf

book/contributors.txt

.bundle/vendor/

### VisualStudioCode ###
.vscode/
!.vscode/tasks.json
!.vscode/launch.json
*.code-workspace

### VisualStudioCode Patch ###
# Ignore all local history of files
.history
.ionide
