alabaster==0.7.12
Babel==2.9.0
certifi==2020.12.5
chardet==3.0.4
commonmark==0.9.1
decorator==4.4.2
dnspython==1.16.0
docopt==0.6.2
docutils==0.16
fett==0.3.2
idna==2.10
imagesize==1.2.0
Jinja2==2.11.3
MarkupSafe==1.1.1
networkx==2.5
packaging==20.9
pathtools==0.1.2
Pygments==2.7.4
pymongo==3.11.3
pyparsing==2.4.7
python-jsonrpc-server==0.3.4
pytz==2021.1
PyYAML==5.3.1
recommonmark==0.7.1
requests==2.24.0
snooty-lextudio==1.8.7.dev0
snowballstemmer==2.1.0
Sphinx==3.4.3
sphinxcontrib-applehelp==1.0.2
sphinxcontrib-devhelp==1.0.2
sphinxcontrib-htmlhelp==1.0.3
sphinxcontrib-jsmath==1.0.1
sphinxcontrib-qthelp==1.0.3
sphinxcontrib-serializinghtml==1.1.4
toml==0.10.2
typing-extensions==3.7.4.3
ujson==1.35
urllib3==1.25.11
watchdog==0.10.4
